#spinner{
    height: 100px;
    width: 100px;
    border: 10px solid gainsboro;
    border-top: 10px solid rgb(45,45,217);
    border-radius: 50%;
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: absolute;
    top: 45%;
    left: 50%;
}

@keyframes spin {
    from{
        transform:rotate(0deg);

    }
    to{
        transform: rotate(360deg);
    }
}